doctype html
html
  head
    link(rel="stylesheet", href="/css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
  body
    header.header
      h1 #{title}
    body
      .model
        each img in model.istruzioni
          .model-image(style=`background: url('/img/${img}') top center no-repeat; background-size: cover;`)
        .model-details
          h1.model-name(style='text-align: center;')
            | #{model.nome}
          h2.model-info(style='text-align: center;')
            | #{model.info}
